<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index.html" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="About" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-information-outline"></i>
                        <span class="hide-menu">Hakkımızda</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="AboutDetail" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-file-document-outline"></i>
                        <span class="hide-menu">Hakkımızda Detay</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="AboutFeature" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-star-outline"></i>
                        <span class="hide-menu">Özellikler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Author" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-account-circle"></i>
                        <span class="hide-menu">Yazarlar</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Blog" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-note-text"></i>
                        <span class="hide-menu">Blog</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="BlogTag" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-tag-multiple"></i>
                        <span class="hide-menu">Blog Etiket</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Category" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-format-list-bulleted"></i>
                        <span class="hide-menu">Kategoriler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Comment" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-comment-multiple-outline"></i>
                        <span class="hide-menu">Yorumlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Newsletter" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-comment-multiple-outline"></i>
                        <span class="hide-menu">Aboneler</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Contact" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-phone"></i>
                        <span class="hide-menu">İletişim</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Course" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-school"></i>
                        <span class="hide-menu">Kurslar</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Instructor" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-account-tie"></i>
                        <span class="hide-menu">Eğitmenler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Slider" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-image-multiple"></i>
                        <span class="hide-menu">Slider</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Statistic" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i>
                        <span class="hide-menu">İstatistikler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Tag" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-tag-outline"></i>
                        <span class="hide-menu">Etiketler</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" asp-controller="Testimonial" asp-area="Admin" asp-action="Index" aria-expanded="false">
                        <i class="mdi mdi-comment-account-outline"></i>
                        <span class="hide-menu">Referanslar</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>