<footer class="footer text-center bg-dark text-white py-4">
    <div class="container">
        <span>&copy; <script>document.write(new Date().getFullYear());</script> MyNeoAcademy Yönetim Paneli</span>
        <br />
        <small>Geliştiren ve Tasarlayan: <strong>Mertcan Adsız</strong> | Tüm hakları saklıdır.</small>
    </div>
</footer>
