@model List<ResultInstructorDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Hero Start -->
<div class="slider-area">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Eğitmenler</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Area Start -->
@await Component.InvokeAsync("InstructorList", new { displayType = "InstructorMenu" })
<!-- Team Area End -->

