<!--? Header Alanı Başlangıç -->
<div class="header-area">
    <div class="main-header ">
        <div class="header-top d-none d-lg-block">
            <!-- Sol Sosyal İkonlar -->
            <div class="header-left-social">
                <ul class="header-social">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                </ul>
            </div>
            <div class="container">
                <div class="col-xl-12">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="header-info-left">
                            <ul>
                                <li>needhelp@gmail.com</li>
                                <li>666 7475 25252</li>
                            </ul>
                        </div>
                        <div class="header-info-right">
                            <ul>
                                <li><a href="#"><i class="ti-user"></i>Giriş</a></li>
                                <li><a href="#"><i class="ti-lock"></i>Kayıt Ol</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom header-sticky">
            <!-- Logo -->
            <div class="logo d-none d-lg-block">
                <a href="index.html"><img src="~/onlineedu-master/assets/img/logo/logo.png" alt="Logo"></a>
            </div>
            <div class="container">
                <div class="menu-wrapper">
                    <!-- Mobil Logo -->
                    <div class="logo logo2 d-block d-lg-none">
                        <a href="index.html"><img src="~/onlineedu-master/assets/img/logo/logo.png" alt="Logo"></a>
                    </div>

                    <!-- Ana Menü -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                                <li><a asp-controller="About" asp-action="Index">Hakkımızda</a></li>
                                <li><a asp-controller="Course" asp-action="Index">Kurslar</a></li>
                                <li><a asp-controller="Instructor" asp-action="Index">Eğitmenler</a></li>
                                <li>
                                    <a asp-controller="Blog" asp-action="Index">Blog</a>
                                    <ul class="submenu">
                                        <li><a asp-controller="Blog" asp-action="Detail" asp-route-id="1">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Home" asp-action="Contact">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Arama -->
                    <div class="header-search d-none d-lg-block">
                        <form action="#" class="form-box f-right">
                            <input type="text" name="Search" placeholder="Kurs Ara">
                            <div class="search-icon">
                                <i class="fas fa-search special-tag"></i>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Mobil Menü -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Header Alanı Bitiş -->
