@model ResultAuthorDTO

<div class="blog-author">
    <div class="media align-items-center">
        <img src="@Model.ImageUrl" : Model.ImageUrl)" alt="@Model.Name" />
        <div class="media-body">
            <a href="#"><h4>@Model.Name</h4></a>
            <p>@Model.Bio</p>
        </div>
    </div>
</div>